<a href="https://colab.research.google.com/github/hannahdirecto/CPE-103-OOP-1-A/blob/main/Operations_and_Expressions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Boolean Operators

In [1]:
print (10 > 9)
print (10 == 0)
print (10 < 9)

True
False
False

Bool() Function

In [2]:
print (bool (1))
print (bool (0))
print (bool (-2))

True
False
True

Function can return a Boolean

In [5]:
def myfunction():
  return True

print (myfunction())

True

In [6]:
def myfunction():
  return True

if myfunction():
  print ("YES!")
else:
  print ("NO!")

YES!

In [7]:
print (10 > 9)

a=6
b=7
print (a==b)
print (a!=b)

True
False
True

Python Operators

In [14]:
print (10+5)
print (10-5)
print (10*5)
print (10/5)
print (10%5)
print (10//3)
print (10**2)

15
5
50
2.0
0
3
100

Python Bitwise Operators

In [19]:
a = 60
b = 13
print (a & b)
print (a | b)
print (a ^ b)
print (~a)
print (a << 2)
print (a >> 2)

12
61
49
-61
240
15

Python Assignment Operators

In [24]:
x=5

x+=3
print (x)

x-=3
print (x)

x*=3
print (x)

x/=3
print (x)

x%=3
print (x)

8
5
15
5.0
2.0

Logical Operator

In [25]:
10>9 and 9>10

False

Identity Operators

In [27]:
x = 1
y = 2
print (x is y)
print (x is not y)

False
True

Conditional Statement

In [31]:
#1. If Statement
a = 12
b = 100
if b > a:
  print ("b is greater than a")

b is greater than a
b is less than a

In [35]:
#2 Elif Statements

a = 12
b = 100

if b > a:
  print ("b is greater than a")
elif a == b:
  print ("a and b are equal")

b is greater than a

In [36]:
#3 Else statements
a = 12
b = 100

if b > a:
  print ("b is greater than a")
elif a == b:
  print ("a and b are equal")
else:
  print ("a is greater than b")

b is greater than a

In [40]:
#Short HAnd If Statement

if a>b: print ("a is greater than b")

In [41]:
#5 Short Hand If.else Statement

a = 2
b = 330
print ("A") if a > b else print ("B")

B

In [42]:
#6 And-both Conditions are true

a = 200
b = 33
c = 500
if a > b and c > a:
  print ("Both conditions are True")

Both conditions are True

In [43]:
#7 Or- at least one of the condition is true

a = 200
b = 33
c = 500
if a > b or a > c:
  print ("At least one of the conditions is True")

At least one of the conditions is True

In [56]:
#8 Nested If
x = 49.99

if x > 10:
  print ("above 10")
  if x > 20:
    print ("and also above 20!")
    if x > 30:
      print ("above 30")
      if x > 40:
        print ("above 40")
        if x < 50:
         print ("below fifty")
        else:
         print ("not above 50")
      else:
       print ("not above 40")
    else:
     print ("not above 30")
  else:
   print ("not above 20")
else:
 print ("not above 10")

above 10
and also above 20!
above 30
above 40
below fifty

ACTIVITY

In [67]:
#1

age = float (input("Enter your name: "))
if age >= 18:
    print ("You are qualified to vote")
else:
    print ("You are not qualified to vote")

Enter your name: 9
You are not qualified to vote

In [70]:
#2

num = float(input("Enter a number: "))
if num > 0:
   print("Positive number")
elif num == 0:
   print("Zero")
else:
   print("Negative number")

Enter a number: 0
Zero

In [76]:
#3

grade = float(input("Enter your grade: "))
if grade >= 75:
  print("Passed")
elif grade == 74:
  print("Remedial")
else:
  print("Failed")

Enter your grade: 70
Failed