<a href="https://colab.research.google.com/github/hannahdirecto/CPE-103-OOP-1-A/blob/main/Laboratory_Activity_No_2_1_(Literals%2C_Operators%2C_and_Variables).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assigning variables of different data types in Python

In [ ]:
#1
value = 5
print (value)

#2
type (value)

5

int

In [ ]:
#3
value = 5
print (value)
type (value)

5

int

In [ ]:
#4
type (value)

#5-a
value = 2+3j
print (value)
type (value)

(2+3j)

complex

In [ ]:
#5-b
value = "Hello World"
print ('Hello World')
type (value)

Hello World

str

In [ ]:
#5-c
value = "Hello World"
print ("Hello World")
type (value)

Hello World

str

In [ ]:
#5-d
value = True
print (value)
type (value)

True

bool

In [ ]:
#5-e
value = False
print (value)
type (value)

False

bool

In [ ]:
#5-f
value = {1,2,3,4,5}
print (value)
type (value)

{1, 2, 3, 4, 5}

set

In [ ]:
#5-g
value = [1,2,3,4,5]
print (value)
type (value)

[1, 2, 3, 4, 5]

list

In [ ]:
#5-h
value = {'name': 'Thea'}
type (value)

dict

In [ ]:
#5-i
value = None
print (value)
type (value)

None

NoneType

Performing Operations with Python

In [ ]:

#1
value = 7
value2 = 4
print (value+value2)

#a
value,value2 = 5.0, 6
print (value+value2)

#b
value,value2 = -5, 6.1
print (value+value2)

#c
value,value2 = "Hello", " World"
print (value+value2)

#d
value,value2 = [1,2,3], [4,5,6]
print (value+value2)

#e
value,value2 = (1,2,3), (4,5,6)
print (value+value2)

#f
value,value2 = {"name":"Royce"}, {"age":2}
print (value+value2)

11
11.0
1.0999999999999996
Hello World
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [ ]:
#using subtraction

#a
value = 7
value2 = 4
print (value+value2)

#b
value,value2 = 5.0, 6
print (value-value2)

#c
value,value2 = -5, 6.1
print (value-value2)

#d
value,value2 = [1,2,3], [4,5,6]
print (value-value2)

#e
value,value2 = (1,2,3), (4,5,6)
print (value-value2)

#f

11
-1.0
-11.1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

3.	Using value, value2 = 30, 4. Type the commands

In [ ]:
value,value2 = 30, 4
#a
print (value*value2)
#b
print (value2**2)
#c
print (value2**3)
#d
print (value*value2+value2**2+1)
#e
print (value/value2)
#f
print (value%value2)

120
16
64
137
7.5
2

Assigning Input Data to a Variable
Finding a person‚Äôs BMI (metric)

In [ ]:
#1
name = input ("Enter your name: ")
#2
weight = float(input("Enter your weight(kg): "))
#3
height = float(input("Enter you height(m):"))
#4
bmi = weight/height**2

print ("Name: ", name)
print ("Weight: ", weight)
print ("Height: ", height)
print ("BMI:", bmi)

Enter your name: John Ray
Enter your weight(kg): 60
Enter you height(m):1.6764
Name:  John Ray
Weight:  60.0
Height:  1.6764
BMI: 21.349904958763087

1.	Write the Python equivalent code of the following C code:

In [ ]:

base = float(input("Enter the base of the triangle: ")) # Convert base to float
height = float(input("Enter the height of the triangle: ")) # Convert height to float
area = (1/2)*base*height
print("The area of the triangle is ", area)

Enter the base of the triangle: 10
Enter the height of the triangle: 12.5
The area of the triangle is  62.5

2.	Write a program that would convert Celsius to Fahrenheit given the formula: F = (C √ó 9/5) + 32 Example of conversion:



0¬∞C = 32 ¬∞F
-20¬∞C = -4 ¬∞F

In [ ]:
C = float(input("Enter a number in celcius: "))

F = (C*9/5)+32
print ("The temperature in Fahrenheit is ",F)

Enter a number in celcius: 12
The temperature in Fahrenheit is  53.6

3.	Write a program that can determine the distance between two points given the coordinates using the formula:



ùíÖ = ‚àö(ùíôùüê ‚àí ùíôùüè)ùüê + (ùíöùüê ‚àí ùíöùüè)ùüê

In [ ]:
x1 = float(input("Enter the first x coordinate: "))
x2 = float(input("Enter the second x coordinate: "))
y1 = float(input("Enter the first y coordinate: "))
y2 = float(input("Enter the second y coordinate: "))

distance = ((x2-x1)**2+(y2-y1)**2)**0.5
print ("The distance between two points is", distance)

Enter the first x coordinate: 2
Enter the second x coordinate: -3
Enter the first y coordinate: 2
Enter the second y coordinate: 3
The distance between two points is 5.0990195135927845