<a href="https://colab.research.google.com/github/hannahdirecto/CPE-103-OOP-1-A/blob/main/Loop_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Example
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

In [2]:
#The break statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print (x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [3]:
#The Break Statement
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  if x == "Thursday":
    break
  print (x)

Sunday
Monday
Tuesday
Wednesday

In [13]:
#Looping through a string
for x in "week":
  print (x)

w
e
e
k

**Range() Function**

In [4]:
# Example
for x in range(6):
  print (x)

0
1
2
3
4
5

In [5]:
for x in range (2,6):
  print (x)

2
3
4
5

In [6]:
for x in range (2,6,2):
  print (x)

2
4

**Nested Loops**

In [7]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print (x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

**Python While Loops**

In [8]:
i = 1
while i < 6:
  print (i)
  i += 1

1
2
3
4
5

In [9]:
#The Break Statement

i = 1
while i < 6:
  print (i)
  if i ==3:
    break
  i += 1

1
2
3

In [10]:
#The continue statement

i = 0
while i < 6:
  i +=1
  if i == 3 or i ==6:
    continue
  print (i)

1
2
4
5

**The else statement**

In [11]:
i = 1
while i < 6:
  print (i)
  i += 1
else:
    print ("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [12]:
#let's try

x = 0
while x < 11:
 print ("hello", x)
 x += 1

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9
hello 10

# **Practical Test**

In [37]:
#1
for x in range (3,10):
 print (x)

3
4
5
6
7
8
9

In [21]:
#2
x = 3
while x < 10:
 print (x)
 x += 1

3
4
5
6
7
8
9