<a href="https://colab.research.google.com/github/hannahdirecto/CPE-103-OOP-1-A/blob/main/Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python Indentions

In [5]:
if 5>2:
  print("Five is greater than 2!")

Five is greater than 2!

In [8]:
x=2
y=5

if x>y:
  print ("x is greater than y")
else:
  print ("y is greater than x")

y is greater than x

Python Comments

In [6]:
#This is a comment
print("Hello World")

Hello world

Python Variable

In [50]:

x = 1
a, b = 0,-1
a, b, c = 0,1, "Sally"
print (x)
print (a)
print (b)
print (c)

1
0
1
Sally

Casting

In [14]:
b = "Sally"
b = int (4)
print (b)

b = float (4)
print (b)

4
4.0

Type Function

In [15]:
x = 5
y = "John"
print (type(x))
print (type(y))

<class 'int'>
<class 'str'>

"Double qoutes" or 'Single' qoutes

In [16]:
y = "John"
y= 'John'
print (y)
print (y)

John
John

Case Sensitive

In [20]:
a = 4
A = " Sally "
print (a)
print (A)

4
 Sally

Multiple Variables

In [21]:
x, y, z ="one", "two", "three"
print (x)
print (y)
print (z)

one
two
three

One Value to Multiple Variables

In [22]:
x = y = z = "four"
print (x)
print (y)
print (z)

four
four
four

Output Variables

In [24]:
x = "enjoying"
print ("Python programming is "+x)

Python programming is enjoying

Arithmetic Operations

In [33]:
x = 5
y = 3
#Exponentiation
print (x ** y)
#Division
print (x/y)
#Floor Division
print (x//y)
#Modulus
print (x % y)

125
1.6666666666666667
1
2

Assignment Operator

In [37]:
a, b, c = 0,-1,6
c%=3
c

0

Comparison Operator

In [39]:
x = 5
y = 10

print (x==y)
print (x!=y)
print (x>y)
print (x<y)
print (x>=y)
print (x<=y)

False
True
False
True
False
True

Logical Operators

In [38]:
a,b,c = 1,-1,6
a>b and c>b

True

Identify Operators

In [41]:
a,b,c = 0,-1,5
a is c

False

Bitwise Operators

In [53]:
#Decimal to binary
#10=1010

x = 10
x>>2
print (x)

10

APPLICATION 1

In [71]:
#APPLICATION 1

#Area of triangle
base = 8
height = 5
area = (1/2) * base * height
print ("The area of triangle is ", area)

# Area of circle
pi = 3.14
r = 5
area = pi * r * r
print ("The area of circle is ", area)

#Area of square
side = 8
area = side * side
print ("The area of square is ", area)

The area of triangle is  20.0
The area of circle is  78.5
The area of square is  64